<h1 class="text-center" >Bienvenido a la tienda de Distribuidora MASI</h1>

<h2 class="text-center" style=color:gray>¿Cómo estas {{user.firstName}}?</h2>

<div class="container d-flex flex-column w-50 align-items-center my-5">
<h3 class="text-center" style=color:gray>¡Puedes ingresar a nuestro catálogo desde aqui!</h3>
<a href="/products" class="btn btn-secondary m-1 p-2 w-50">Ir al catálogo</a>
</div>

<div class="container d-flex flex-column w-50 align-items-center my-5">
<button id="logoutBtn" class="btn btn-danger m-1 p-2 w-50" type="button">Cerrar sesión</button>
</div>

<script src="js/session.js"></script>