<section class="container">
    <h1 style=color:blue>CARGAR PRODUCTO</h1>

    <form action="/api/products" method="post" enctype="multipart/form-data"
        style="display: flex; flex-direction: column; width: 50%;" id="form">
        <label for="title">nombre:</label><Input id="title" name="title" type="text"></Input>
        <label for="description">descripcion del producto:</label><textarea id="description" name="description"
            type="text" style="height: 182px"></textarea>
        <label for="price">precio:</label><Input id="price" name="price" type="number"></Input>
        <label for="thumbnail">imagen del producto:</label><Input id="thumbnail" name="thumbnail" type="file"
            required></Input>
        <label for="code">codigo del producto:</label><Input id="code" name="code" type="text"></Input>
        <label for="stock">cantidad en stock:</label><Input id="stock" name="stock" type="number"></Input>
        <label for="category">categoria:</label><Input id="category" name="category" type="text"></Input>
        <label for="status">status:</label><Input id="status" name="status" type="text"
            placeholder="true o false"></Input>
        <button type="submit" id="sendProduct">agregar producto</button>
    </form>

</section>

<section id="sectionProducts">

</section>













<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>